hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodapé {
    display: none;
}

.lista-rodapé__link:hover {
    color: var(--laranja);
}


@media screen and (min-width: 1024px) {
    .lista-rodapé {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__titulo {
        margin-bottom: 1.5em;
        color: var(--cinza-claro);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: .5em;
        font-size: 14px;
        
    }

    .lista-rodapé__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: .6em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}